<launch>

 <node pkg="homography_geometric_control" name="homo_geo" type="homo_geo" output="screen">
    <param name="Mass" value="1.5"/>
    <param name="Gravity" value="9.80665"/>
    <param name="Control_rate" value="200.0"/>
    <param name="ControlGain/Kvx" value="1.5"/>
    <param name="ControlGain/Kvy" value="1.5"/>
    <param name="ControlGain/Kvz" value="1.5"/>
    <param name="MinTorque" value="-1.0"/>
    <param name="MaxTorque" value="1.0"/>
    <param name="MinThrust" value="0.0"/>
    <param name="MaxThrust" value="1.0"/>

 </node>

</launch>